/*通用*/
html,body{ width: 7.2rem;box-sizing: border-box;overflow-x: hidden; background: #fff;}
.fl{ float: left;}
.fr{ float: right;}
.dn{ display: none;}
/*header*/
.header{ height: 0.85rem; text-align: center; box-sizing: border-box;position: relative; border-bottom: 1px solid #272727; background: #3a495c;padding:0 0.2rem;}
.top_border{ height: 0.04rem;width: 10.8rem; background: #495768; border-width:0 0 0.04rem 0.04rem; position: absolute; top: 0;}
.top_link{width: 0.45rem; height: 0.45rem; display: block; margin-top: 0.2rem; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);} .top_link img,.top_logo img{ width: 100%; height: 100%; display: block;}
.top_logo{    width: 1.8rem; height: 0.6rem; display: inline-block; margin-top: 0.16rem;} /*index*/
.index_banner{display: block; width: 7.2rem;}
.index_main{ background: #aecacd; padding: 0.5rem 0.2rem 0.3rem; position: relative;}
.index_txt{font-weight: bolder; font-size: 0.27rem; line-height: 0.5rem;}
.c_1{ color: #c70b0b;}
.fs_33{ font-size: 0.33rem}
.index_img01{ width: 2.04rem; position: absolute; top: 0.2rem; right: 0.2rem; display: block;}
.index_imgbox{position: relative;}
.index_imgbox img{ width: 5.2rem; margin: 0 auto; display: block; margin-top: 0.2rem;}
.index_imgbox p{ position: absolute; bottom: 0.4rem;font-size: 0.3rem; line-height: 0.4rem; font-weight: bolder;width: 5.2rem; text-align: center; margin-left: 0.8rem}
.index_imgbox p span{ display: block;}
.index_code{ width: 2rem; height: 2rem; margin: 0 auto; background: #fff;}
.index_code img{ width: 100%; height: 100%; display: block;}
/*info*/
.info_top{ background: #6ec4f0; box-sizing: border-box; height: 2.7rem; width: 7.2rem; padding-top: 0.6rem; position: relative;}
.info_top .index_txt{ margin-left: 0.95rem;}
.c_2{ color: #fff;}
.info_top .bg1{ width: 1rem; position: absolute; top: 0.25rem; right: 0.3rem;}
.info_top .bg2{ height: 0.55rem; position: absolute; top: 1.84rem; right: 0.7rem;}
.info_main{display: block; width: 7.2rem;}
.info_btn{ background: #fff; margin-bottom: 2rem;}
.info_btn a{ width: 3.15rem; margin: 0 auto;display: block;}
.info_btn a img{ width: 100%;display:block;}
/*up*/
.up_img_btn{ text-align: center; padding-top: 0.35rem;}
.up_img_btn a{ width: 2.8rem; height:0.62rem;display: block; position: relative; margin: 0 auto; overflow: hidden;}
.up_img_btn a img{ width: 100%;display: block;}
.up_img_btn a input{ position: absolute; top: 0; left: 0; opacity: 0;}
.up_top_tip{ font-size: 0.3rem;text-align: center; color: #eea635; font-weight: bold;}
.mt_25{ margin-top: 0.25rem}
.c_2{ color: #d81313;}
.up_main{ position: relative; margin-bottom: 2rem;}
.up_main .bg{ width: 6.32rem; height: 10rem; margin: 0.3rem auto 0; display: block;}
.up_info{ position: absolute; top: 0.2rem; left: 0.7rem;}
.up_info .title{ font-size: 0.3rem; font-weight: bolder;}
.box01{ margin-top: 0.2rem;}
.box01 span{ font-size: 0.26rem; line-height: 0.36rem; display: inline-block; width: 2.2rem; float: left; font-weight: bold;}
.box01 input{ width: 3.05rem; height: 0.36rem; line-height: 0.36rem; font-size: 0.26rem; border-radius: 0.05rem; box-sizing: border-box; float: left; border: 1px solid #d2d2d2; padding: 0 0.1rem; background: #eee;}
.up_staff{ background: #fdf6d9; width:5.9rem; box-sizing: border-box;padding: 0.2rem 0 0.2rem 0.2rem; margin: 0.2rem auto 0;}
.up_staff .title{font-size: 0.3rem;line-height: 0.36rem; margin-bottom: 0.2rem;}
.up_staff .box{ margin-bottom: 0.2rem;}
.up_staff input{ font-size: 0.26rem;line-height: 0.36rem; height: 0.36rem; margin-right: 0.15rem; background: #eee; float: left;border-radius: 0.05rem; box-sizing: border-box; border: 1px solid #d2d2d2; padding: 0 0.1rem;}
.up_staff span{ font-size: 0.26rem;line-height: 0.36rem; float: left; font-weight: bold;}
.ml_15{ margin-left: 0.15rem;}
.wd_110{width: 1rem;}
.wd_260{width: 2.6rem;}
.update{ width: 2.75rem;display: block; margin: 0.15rem auto 0;}
.update img{width: 100%;display: block;}
/* footer */
.footer_ygb{background: #4da2e1; height: 0.83rem; font-size: 0.18rem; line-height: 0.83rem; color: #fff; text-align: center;}
